build/
.idea/
.gradle/
.settings/
.classpath
.project
bin/
lib/
out/
nbproject/
**/*java~
/.metadata/
**/*.bak

# Configuration files (contains API keys)
config.properties

/gradle/wrapper/gradle-wrapper.jar
